header {
    background-color: $color-dark;
    color: $color-light;
}

.header {
    padding: 70px 0;
} 

.header-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: flex-start;
}

.logo__text {
    font-size: 2.8rem;
    line-height: 2.8rem;
    letter-spacing: 0.5rem;
    padding: 0 15px;
    margin: 0;
}

.menu {
    display:flex;
    margin: 0;
}

.nav__link {
    list-style-type: none;
    padding: 0 40px;
    font-size: 2.2rem;
    line-height: 2.2rem;
    letter-spacing: 0.2rem;
    margin: 0;
}

